<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>URL - TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">
          TinyURL for: <a href="<%= longURL %>"><%= longURL %></a>
        </h5>
        <p class="card-text">
          Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %> </a>
        </p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
  </body>
</html>
